.mainContainer{
    h2{
        text-align: center;
    }

}

.unique{
   display: flex;    
   align-items: center;
   justify-content: center;
   input{
       margin-top: 1.5rem;
       width: 90%;
   }     
}

.all{
        display: flex;
        justify-content: space-around;
    
}

.sectionContent{
    
    display:block;
    margin-top: 10px;
    font-family: sans-serif;
    color: gray;
    
    legend{
        margin: 10px;
        font-size: 20px;   
    }
    
    fieldset{
        position: relative;
        margin: 1rem;
    
        border: 2px outset gray;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4);

       

        
    }
    
    
    button{
        
        
        margin: 0.5rem auto;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: #ff6961 ;
        color: #fff;
        padding: 0 32px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0;
    
        transition: filter 0.2s; 
        opacity: 0.8;
    
    }
    
    button:hover{
        opacity: 1;
        
    }
    
    label{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 25px;
    }
    
    label{
        display: block;
        font-size: 18px;
    }
    
    input{
        margin-left: 15px;
        cursor: pointer;
        padding: 10px;
        background-color: #d3d3d3;
        border: none;
        border-radius: 5px;
    }
}

.content{
    margin: -5rem 30rem;
    display: flex;
    flex-direction: column;
    
    section{
        margin-top: -5rem;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
        canvas{
            margin: 1rem 0;
            
        }

        border: 4px solid black;
        box-shadow: 10px 10px 10px 10px;


        button{
            width: 90%;
            background-color: blue;
            color: #fff;
        }
    }
}