.menuNav{
    background-color: #909193;

    display: flex;
    justify-content: space-around;

    button{
        border: none;
        background: transparent;
        
        img{
            width: 120px;
            height: 50px;
        }
    }


    ul{
        list-style: none;
        display: flex;
        // margin-right: 30rem;
        align-items: center;

        
        li {
            cursor: pointer;
            margin-left:2rem;
            font-size: 1.2rem;
            font-weight: 700;


            &:hover{
                border-bottom: 3px solid green;
            }
        }
    }


}
